<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/Head') %>
    <title>Home Page</title>
</head>

<body>
  <%- include('partials/nav') %>
    <pre><%= JSON.stringify(user, null, 2) %></pre>

    <div class="container mt-5 " style="height: 60vh;">
      <div class="row  row-cols-4">
        <% blogs.forEach(blog=>{ %>
          <div class="col-sm-6">
            <div class="card mb-4" style="width: 18rem">
              <img src="<%= blog.coverImgUrl %>" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">
                  <%= blog.title %>
                </h5>
                <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>

    <%- include('partials/scripts') %>
      <%- include('partials/footer') %>
</body>

</html>